@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@theme {
  --font-inter: var(--font-inter);
  --font-onest: var(--font-onest);
}

:root {
  --dark: #0c120c;
  --body: #0c120c99;
  --primary-blue: #0048f9;
  --border: rgba(12, 18, 12, 0.6);
}

.dark {
  --dark: #0c120c99;
  --body: #0c120c99;
  --primary-blue: #0048f9;
  --border: rgba(12, 18, 12, 0.6);
}

@theme inline {
  --color-dark: var(--dark);
  --color-body: var(--body);
  --color-primary-blue: var(--primary-blue);
  --color-border: var(--border);
}

@layer base {
  body {
    font-family: var(--font-inter);
    /* background-color: var(--light-bg); */
    background-color: #f3f3f1;
    color: var(--body-text);
    overflow-x: hidden; /* to prevent some overflwoings caused in the x direction because of animations along x axis */
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-blue);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 6px;
  }
}
@layer utilities {
  @media (width >= 90rem /* 1440px */) {
    .mac\:hidden {
      display: none;
    }
    .mac\:block {
      display: block;
    }
    .mac\:flex {
      display: flex;
    }
  }
}
