@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-inter: var(--font-inter);
  --font-onest: var(--font-onest);
}

:root {
  --light-bg: #ffffff;
  --dark-bg: #000000;
  --light-fg: #0c120c;
  --dark-fg: #ffffff;
  --body-text: #0c120c;
  --primary-blue: #0048f9;
}

.dark {
  --light-bg: #ffffff;
  --dark-bg: #000000;
  --light-fg: #0c120c;
  --dark-fg: #ffffff;
  --body-text: #0c120c;
  --primary-blue: #0048f9;
}

@theme inline {
  --color-light-bg: var(--light-bg);
  --color-dark-bg: var(--dark-bg);
  --color-light-fg: var(--light-fg);
  --color-dark-fg: var(--dark-fg);
  --color-body-text: var(--body-text);
  --color-primary-blue: var(--primary-blue);
}
