@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-inter: var(--font-inter);
  --font-onest: var(--font-onest);
}

:root {
  --light: #ffffff;
  --dark: #000000;
  --body-text: #0c120c;
  --primary-blue: #0048f9;
}

.dark {
  --light: #ffffff;
  --dark: #000000;
  --body-text: #0c120c;
  --primary-blue: #0048f9;
}

@theme inline {
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-body-text: var(--body-text);
  --color-primary-blue: var(--primary-blue);
}

@layer base {
  body {
    font-family: var(--font-inter);
    background-color: var(--light-bg);
    color: var(--body-text);
  }
}
